# format_for_list

In [ ]:
s = '{} {} {}'
f = s.format('대건', '윤기', '찬빈')
print(f)

In [ ]:
s = '{}이는 {}와 {}를 친구로 생각한다.'
f = s.format('대건', '윤기', '찬빈')
print(f)

In [ ]:
s = '{}이는 {}번이고, {}에 진학했다.'
f = s.format('대건', 30312, '인천대학교')
print(f)

In [ ]:
name = '재홍'
num = 30303
add = '인천시 연수구'
s = '{}이는 {}번이고, {}에 살고있다.'
f = s.format(name, num, add)
print(f)

In [ ]:
name = input('이름 입력')
num = input('학번 입력')
add = input('주소 입력')
s = '{}은(는) {}번이고, {}에 살고있다.'
f = s.format(name, num, add)
print(f)

In [ ]:
stu = input('이름, 학번, 주소를 띄어쓰기로 구분해서 입력하시오 >>>>> ').split()

In [ ]:
stu

In [ ]:
stu[0], stu[1]

In [ ]:
s = '{}은(는) {}번이고, {}에 살고있다.'
f = s.format(stu[0], stu[1], stu[2])
print(f)

# [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8달라입니다.

In [12]:
food = input('음식이름, 개수, 가격을 입력하시오 >>>>>').split()
s = '{}의 {}개 값은 {}달라 입니다.'
f = s.format(food[0], food[1], int(food[2])*int(food[1]))
print(f)

음식이름, 개수, 가격을 입력하시오 >>>>>2 2 2
2의 2개 값은 4달라 입니다.

----------------------------------------------------------------------------------------------------------------

In [11]:
info = '%d %s %f'
pr = info%(20, '인천', 0.05)
print(pr)

20 인천 0.050000

In [14]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천', 0.05)
print(pr)

20년도 인천여고 0.05퍼센트

# [문제2] 햄버거 2개는 8달라이다.

In [20]:
food = '%s %d개는 %d달라이다.'
pr = food%('햄버거', 2, 2*4)
print(pr)

햄버거 2개는 8달라이다.

# List

In [21]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [28]:
arr = ['성곤', '대건', '대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [25]:
arr[0]

'성곤'

In [30]:
len(arr)

4

In [32]:
for i in range(1, 6) :
    print(i)

1
2
3
4
5

In [33]:
for i in range(5, 0, -1) :
    print(i)

5
4
3
2
1

In [35]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [38]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [43]:
for i, val in enumerate(arr) :
    print(i+1,'번', val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

# [문제1] 30부터 50까지 출력해보기

In [45]:
for i in range(30, 51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

# [문제2] 30부터 50까지 중에서 if문을 사용해 홀수만 출력해보기

In [47]:
for i in range(30, 51) :
    if i%2 != 0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

# [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [50]:
sum = 0
for i in range(30, 51) :
    if i%2 != 0 :
        sum += i
print(sum)

400

# [문제4] 1부터 10까지 중에서 짝수이면 '파이썬', 홀수이면 '야 너도 할 수있어' 출력

In [53]:
for i in range (1, 11) :
    if i%2 != 0 :
        print(i, '야 너도 할 수있어')
    else :
        print(i, '파이썬')

1 야 너도 할 수있어
2 파이썬
3 야 너도 할 수있어
4 파이썬
5 야 너도 할 수있어
6 파이썬
7 야 너도 할 수있어
8 파이썬
9 야 너도 할 수있어
10 파이썬